<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
      integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/home.css" />
  </head>

 

  <body>
    <div class="container">
      <header>
        <div class="container-top-header">
          <div class="src-lg-sc">
            <div class="details">
              FREE FIRST CLASS UK DELIVERY ON ORDERS OVER £20
            </div>

            <div class="search-bar">
              <input
                type="text"
                name=""
                id="search-bar"
                placeholder="Cauta produse & Categorii"
              />
              <button class="src-btn"><i class="fas fa-search"></i></button>
            </div>

            <div class="acc-basket">
              <div class="account">
                <i class="fas fa-bars"></i>
                Contul Meu
                <i class="fas fa-caret-down"></i>
              </div>

              <div class="basket">
                <i class="fas fa-shopping-basket"></i>
              </div>
            </div>
          </div>
        </div>

        <nav>
          <div class="nav-details">
            
            <style>
             

              
              
            </style>

            <div class="search-active">
              <div class="search-active-content">
                <input type="search" name="" id="" placeholder="Cauta produse">
                <button class="src-btn"><i class="fas fa-search"></i></button>
              </div>
              <div class="close-src-btn"><i class="fas fa-times"></i></div>
            </div>


            <div class="burger">
              <div class="line1"></div>
              <div class="line2"></div>
              <div class="line3"></div>
            </div>

            <div class="logo">
              <span class="logo-name">Smoke Club</span>
            </div>

            <div class="nav-links-container">
              <ul class="nav-links">
                <li>
                  <a href="">
                    <span>LICHIDE</span>
                  </a>
                  <div class="drop-box">
                    <i class="fas fa-sort-up"></i>
                  </div>

                  <div class="sub-menu">
                    <ul>
                      <li>
                        <a href="">
                          Branduri
                        </a>

                        <div class="drop-box2" style="height: 46px !important;">
                          <i class="fas fa-sort-up"></i>
                        </div>

                        <div class="sub-menu-2">
                          <ul>
                            <li><a href="">Dinner Lady </a></li>
                            <li><a href="">Just Juice</a></li>
                          </ul>
                        </div>
                      </li>
                      <li>
                        <a href="">Arome</a>

                        <div class="drop-box2">
                          <i class="fas fa-sort-up"></i>
                        </div>

                        <div class="sub-menu-2">
                          <ul>
                            <li><a href="">Apple </a></li>
                            <li><a href="">Mango</a></li>
                            <li><a href="">Pineapple</a></li>
                            <li><a href="">Tropical Fruit</a></li>
                            <li><a href="">Bubblegum</a></li>
                            <li><a href="">Lemonade</a></li>
                            <li><a href="">Raspberry</a></li>
                            <li><a href="">Coffe</a></li>
                          </ul>
                        </div>
                      </li>
                      <li><a href="">Shorfills</a></li>
                      <li><a href="">Nicotine salt</a></li>
                      <li><a href="">Shot nicotina</a></li>
                      <li><a href="">CBD</a></li>
                    </ul>
                  </div>
                </li>

                <li>
                  <a href="">
                    <span>KITURI</span>
                  </a>
                  <div class="drop-box">
                    <i class="fas fa-sort-up"></i>
                  </div>
                  <div class="sub-menu">
                    <ul>
                      <li><a href="">Branduri</a></li>
                      <li><a href="">Tipuri</a></li>
                      <li><a href="">Poduri</a></li>
                    </ul>
                  </div>
                </li>

                <li>
                  <a href="">
                    <span>PODURI</span>
                  </a>
                  <div class="drop-box">
                    <i class="fas fa-sort-up"></i>
                  </div>
                  <div class="sub-menu">
                    <ul>
                      <li><a href="">Branduri</a></li>
                      <li><a href="">Tipuri</a></li>
                    </ul>
                  </div>
                </li>

                <li>
                  <a href="">
                    <span>REZISTENTE</span>
                  </a>
                  <div class="drop-box">
                    <i class="fas fa-sort-up"></i>
                  </div>
                  <div class="sub-menu">
                    <ul>
                      <li><a href="">Branduri</a></li>
                    </ul>
                  </div>
                </li>

                <li>
                  <a href="">
                    <span>MODURI</span>
                  </a>
                  <div class="drop-box">
                    <i class="fas fa-sort-up"></i>
                  </div>
                  <div class="sub-menu">
                    <ul>
                      <li><a href="">Branduri</a></li>
                      <li><a href="">Tipuri</a></li>
                      <li><a href="">Atomizoare</a></li>
                    </ul>
                  </div>
                </li>

                <li>
                  <a href="">
                    <span>ACUMULATORI</span>
                  </a>
                  <div class="drop-box">
                    <i class="fas fa-sort-up"></i>
                  </div>
                  <div class="sub-menu">
                    <ul>
                      <li><a href="">18650 </a></li>
                      <li><a href="">20700 </a></li>
                      <li><a href="">21700 </a></li>
                      <li><a href="">26650 </a></li>
                    </ul>
                  </div>
                </li>

                <li>
                  <a href="https://www.google.com">
                    <span>ACCESORII</span>
                  </a>
                  <div class="drop-box">
                    <i class="fas fa-sort-up"></i>
                  </div>
                  <div class="sub-menu">
                    <ul>
                      <li><a href="">Huse</a></li>
                      <li><a href="">Carcasa Acumulatori</a></li>
                      <li><a href="">Incarcatoare</a></li>
                      <li><a href="">Mustiucuri</a></li>
                      <li><a href="">Adaptoare</a></li>
                      <li><a href="">CBD</a></li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>

            <div class="src-btn-2">
              <i class="fas fa-search"></i>
            </div>
          </div>
        </nav>
      </header>

      <main>
        <div class="main-blurr mb-active"></div>

        <div class="picture">
          <img
            src="/images/harleys-eliquid-vapeclub-uk-offer-1200x400.jpg"
            alt=""
          />
        </div>

        <div class="content">
          <div class="content-wrapper">
            <h2 class="descriere">Descriere Smoke Club</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto error quisquam laudantium nobis illo eius placeat. Suscipit id culpa inventore sapiente dolorem modi maxime laborum, consequatur ipsa dolore quam numquam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, debitis.
            </p>
            <p class="second-p">
             Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, accusamus voluptatem illum ipsum non corrupti! Magni accusantium facilis architecto dolores, tempore, sit quaerat eveniet quae suscipit provident, rem inventore hic dolor non commodi! Rerum!
            </p>

            <div class="row">
              <div class="card-container">
                <div class="card">
                  <a href="www.google.com">
                    <img src="images/imagini%20categorii/eliquids.jpg" alt="" />
                    <div class="card-mask">
                      <div class="card-title"><h2>LICHIDE</h2></div>
                      <div class="vezi-produse">Vezi Produse</div>
                    </div>
                  </a>
                  <p>
                    Shortfills, salt nicotine, nic shots, TPD 10mls and
                    concentrates - Discover the biggest selection of eliquid
                    available in the UK.
                  </p>
                </div>
              </div>

              <div class="card-container">
                <div class="card-container">
                  <div class="card">
                    <a href="www.google.com">
                      <img src="images/imagini%20categorii/kits.jpg" alt="" />
                      <div class="card-mask">
                        <div class="card-title"><h2>Kituri</h2></div>
                        <div class="vezi-produse">Vezi Produse</div>
                      </div>
                    </a>
                    <p>
                      Shortfills, salt nicotine, nic shots, TPD 10mls and
                      concentrates - Discover the biggest selection of eliquid
                      available in the UK.
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="card-container">
                <div class="card">
                  <a href="www.google.com">
                    <img src="images/imagini%20categorii/pods.jpg" alt="" />
                    <div class="card-mask">
                      <div class="card-title"><h2>Poduri</h2></div>
                      <div class="vezi-produse">Vezi Produse</div>
                    </div>
                  </a>
                  <p>
                    Shortfills, salt nicotine, nic shots, TPD 10mls and
                    concentrates - Discover the biggest selection of eliquid
                    available in the UK.
                  </p>
                </div>
              </div>

              <div class="card-container">
                <div class="card-container">
                  <div class="card">
                    <a href="www.google.com">
                      <img src="images/imagini%20categorii/atomizoare.jpg" alt="" />
                      <div class="card-mask">
                        <div class="card-title"><h2>Rezistente</h2></div>
                        <div class="vezi-produse">Vezi Produse</div>
                      </div>
                    </a>
                    <p>
                      Shortfills, salt nicotine, nic shots, TPD 10mls and
                      concentrates - Discover the biggest selection of eliquid
                      available in the UK.
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="card-container">
                <div class="card">
                  <a href="www.google.com">
                    <img src="images/imagini%20categorii/moduri.jpg" alt="" />
                    <div class="card-mask">
                      <div class="card-title"><h2>Moduri</h2></div>
                      <div class="vezi-produse">Vezi Produse</div>
                    </div>
                  </a>
                  <p>
                    Shortfills, salt nicotine, nic shots, TPD 10mls and
                    concentrates - Discover the biggest selection of eliquid
                    available in the UK.
                  </p>
                </div>
              </div>

              <div class="card-container">
                <div class="card-container">
                  <div class="card">
                    <a href="www.google.com">
                      <img src="images/imagini%20categorii/accesorii.jpg" alt="" />
                      <div class="card-mask">
                        <div class="card-title"><h2>Accesorii</h2></div>
                        <div class="vezi-produse">Vezi Produse</div>
                      </div>
                    </a>
                    <p>
                      Shortfills, salt nicotine, nic shots, TPD 10mls and
                      concentrates - Discover the biggest selection of eliquid
                      available in the UK.
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <!-- Produse noi -->

            <h2 class="produse-noi">Produse nou adaugate</h2>

            <div class="row-produse">
              <div class="container-produs">
                <div class="new-tag">NEW</div>
                <div class="imagine-produs">
                  <a href="">
                    <img src="images/produs-nou.jpg" alt="" />
                  </a>
                  <div class="pret-produs-nou">45.99 Lei</div>
                </div>
                <div class="detalii-produs-nou">
                  <div class="detalii-cantitate">
                    <div class="cantitate">2ml</div>
                    <div class="concentratie">0.6% 0.8%</div>
                  </div>
                  <div class="nume-produs-nou">
                    <a href="">Smok Rigel Mini</a>
                  </div>
                  <div class="descriere-produs-nou">
                    <small
                      >177W Sub Ohm Kit, Max, Requires Dual 18650's, 2ml Pod
                      Tank</small
                    >
                  </div>
                </div>
              </div>

              <div class="container-produs">
                <div class="new-tag">NEW</div>
                <div class="imagine-produs">
                  <a href="">
                    <img src="images/produs-nou.jpg" alt="" />
                  </a>
                  <div class="pret-produs-nou">45.99 Lei</div>
                </div>
                <div class="detalii-produs-nou">
                  <div class="detalii-cantitate">
                    <div class="cantitate">2ml</div>
                    <div class="concentratie">0.6% 0.8%</div>
                  </div>
                  <div class="nume-produs-nou">
                    <a href="">Smok Rigel Mini</a>
                  </div>
                  <div class="descriere-produs-nou">
                    <small
                      >177W Sub Ohm Kit, Max, Requires Dual 18650's, 2ml Pod
                      Tank</small
                    >
                  </div>
                </div>
              </div>

              <div class="container-produs">
                <div class="new-tag">NEW</div>
                <div class="imagine-produs">
                  <a href="">
                    <img src="images/produs-nou.jpg" alt="" />
                  </a>
                  <div class="pret-produs-nou">45.99 Lei</div>
                </div>
                <div class="detalii-produs-nou">
                  <div class="detalii-cantitate">
                    <div class="cantitate">2ml</div>
                    <div class="concentratie">0.6% 0.8%</div>
                  </div>
                  <div class="nume-produs-nou">
                    <a href="">Smok Rigel Mini</a>
                  </div>
                  <div class="descriere-produs-nou">
                    <small
                      >177W Sub Ohm Kit, Max, Requires Dual 18650's, 2ml Pod
                      Tank</small
                    >
                  </div>
                </div>
              </div>

              <div class="container-produs">
                <div class="new-tag">NEW</div>
                <div class="imagine-produs">
                  <a href="">
                    <img src="images/produs-nou-3.jpg" alt="" />
                  </a>
                  <div class="pret-produs-nou">45.99 Lei</div>
                </div>
                <div class="detalii-produs-nou">
                  <div class="detalii-cantitate">
                    <div class="cantitate">2ml</div>
                    <div class="concentratie">0.6% 0.8%</div>
                  </div>
                  <div class="nume-produs-nou">
                    <a href="">Smok Rigel Mini</a>
                  </div>
                  <div class="descriere-produs-nou">
                    <small
                      >177W Sub Ohm Kit, Max, Requires Dual 18650's, 2ml Pod
                      Tank</small
                    >
                  </div>
                </div>
              </div>

              <div class="container-produs">
                <div class="new-tag">NEW</div>
                <div class="imagine-produs">
                  <a href="">
                    <img src="images/produs-nou.jpg" alt="" />
                  </a>
                  <div class="pret-produs-nou">45.99 Lei</div>
                </div>
                <div class="detalii-produs-nou">
                  <div class="detalii-cantitate">
                    <div class="cantitate">2ml</div>
                    <div class="concentratie">0.6% 0.8%</div>
                  </div>
                  <div class="nume-produs-nou">
                    <a href="">Smok Rigel Mini</a>
                  </div>
                  <div class="descriere-produs-nou">
                    <small
                      >177W Sub Ohm Kit, Max, Requires Dual 18650's, 2ml Pod
                      Tank</small
                    >
                  </div>
                </div>
              </div>

              <div class="container-produs">
                <div class="new-tag">NEW</div>
                <div class="imagine-produs">
                  <a href="">
                    <img src="images/produs-nou-3.jpg" alt="" />
                  </a>
                  <div class="pret-produs-nou">45.99 Lei</div>
                </div>
                <div class="detalii-produs-nou">
                  <div class="detalii-cantitate">
                    <div class="cantitate">2ml</div>
                    <div class="concentratie">0.6% 0.8%</div>
                  </div>
                  <div class="nume-produs-nou">
                    <a href="">Smok Rigel Mini</a>
                  </div>
                  <div class="descriere-produs-nou">
                    <small
                      >177W Sub Ohm Kit, Max, Requires Dual 18650's, 2ml Pod
                      Tank</small
                    >
                  </div>
                </div>
              </div>

              <div class="container-produs">
                <div class="new-tag">NEW</div>
                <div class="imagine-produs">
                  <a href="">
                    <img src="images/produs-nou.jpg" alt="" />
                  </a>
                  <div class="pret-produs-nou">45.99 Lei</div>
                </div>
                <div class="detalii-produs-nou">
                  <div class="detalii-cantitate">
                    <div class="cantitate">2ml</div>
                    <div class="concentratie">0.6% 0.8%</div>
                  </div>
                  <div class="nume-produs-nou">
                    <a href="">Smok Rigel Mini</a>
                  </div>
                  <div class="descriere-produs-nou">
                    <small
                      >177W Sub Ohm Kit, Max, Requires Dual 18650's, 2ml Pod
                      Tank</small
                    >
                  </div>
                </div>
              </div>

              <div class="container-produs">
                <div class="new-tag">NEW</div>
                <div class="imagine-produs">
                  <a href="">
                    <img src="images/produs-nou.jpg" alt="" />
                  </a>
                  <div class="pret-produs-nou">45.99 Lei</div>
                </div>
                <div class="detalii-produs-nou">
                  <div class="detalii-cantitate">
                    <div class="cantitate">2ml</div>
                    <div class="concentratie">0.6% 0.8%</div>
                  </div>
                  <div class="nume-produs-nou">
                    <a href="">Smok Rigel Mini</a>
                  </div>
                  <div class="descriere-produs-nou">
                    <small
                      >177W Sub Ohm Kit, Max, Requires Dual 18650's, 2ml Pod
                      Tank</small
                    >
                  </div>
                </div>
              </div>

              <div class="container-produs">
                <div class="new-tag">NEW</div>
                <div class="imagine-produs">
                  <a href="">
                    <img src="images/produs-nou-3.jpg" alt="" />
                  </a>
                  <div class="pret-produs-nou">45.99 Lei</div>
                </div>
                <div class="detalii-produs-nou">
                  <div class="detalii-cantitate">
                    <div class="cantitate">2ml</div>
                    <div class="concentratie">0.6% 0.8%</div>
                  </div>
                  <div class="nume-produs-nou">
                    <a href="">Smok Rigel Mini</a>
                  </div>
                  <div class="descriere-produs-nou">
                    <small
                      >177W Sub Ohm Kit, Max, Requires Dual 18650's, 2ml Pod
                      Tank</small
                    >
                  </div>
                </div>
              </div>

              <div class="container-produs">
                <div class="new-tag">NEW</div>
                <div class="imagine-produs">
                  <a href="">
                    <img src="images/produs-nou-3.jpg" alt="" />
                  </a>
                  <div class="pret-produs-nou">45.99 Lei</div>
                </div>
                <div class="detalii-produs-nou">
                  <div class="detalii-cantitate">
                    <div class="cantitate">2ml</div>
                    <div class="concentratie">0.6% 0.8%</div>
                  </div>
                  <div class="nume-produs-nou">
                    <a href="">Smok Rigel Mini</a>
                  </div>
                  <div class="descriere-produs-nou">
                    <small
                      >177W Sub Ohm Kit, Max, Requires Dual 18650's, 2ml Pod
                      Tank</small
                    >
                  </div>
                </div>
              </div>

              <div class="container-produs">
                <div class="new-tag">NEW</div>
                <div class="imagine-produs">
                  <a href="">
                    <img src="images/produs-nou-2.jpg" alt="" />
                  </a>
                  <div class="pret-produs-nou">45.99 Lei</div>
                </div>
                <div class="detalii-produs-nou">
                  <div class="detalii-cantitate">
                    <div class="cantitate">2ml</div>
                    <div class="concentratie">0.6% 0.8%</div>
                  </div>
                  <div class="nume-produs-nou">
                    <a href="">Smok Rigel Mini</a>
                  </div>
                  <div class="descriere-produs-nou">
                    <small
                      >177W Sub Ohm Kit, Max, Requires Dual 18650's, 2ml Pod
                      Tank</small
                    >
                  </div>
                </div>
              </div>

              <div class="container-produs">
                <div class="new-tag">NEW</div>
                <div class="imagine-produs">
                  <a href="">
                    <img src="images/produs-nou.jpg" alt="" />
                  </a>
                  <div class="pret-produs-nou">45.99 Lei</div>
                </div>
                <div class="detalii-produs-nou">
                  <div class="detalii-cantitate">
                    <div class="cantitate">2ml</div>
                    <div class="concentratie">0.6% 0.8%</div>
                  </div>
                  <div class="nume-produs-nou">
                    <a href="">Smok Rigel Mini</a>
                  </div>
                  <div class="descriere-produs-nou">
                    <small
                      >177W Sub Ohm Kit, Max, Requires Dual 18650's, 2ml Pod
                      Tank 177W Sub Ohm Kit, Max, Requires Dual 18650's, 2ml Pod
                      Tank</small
                    >
                  </div>
                </div>
              </div>

              <div class="container-produs">
                <div class="new-tag">NEW</div>
                <div class="imagine-produs">
                  <a href="">
                    <img src="images/produs-nou-2.jpg" alt="" />
                  </a>
                  <div class="pret-produs-nou">45.99 Lei</div>
                </div>
                <div class="detalii-produs-nou">
                  <div class="detalii-cantitate">
                    <div class="cantitate">2ml</div>
                    <div class="concentratie">0.6% 0.8%</div>
                  </div>
                  <div class="nume-produs-nou">
                    <a href="">Smok Rigel Mini</a>
                  </div>
                  <div class="descriere-produs-nou">
                    <small
                      >177W Sub Ohm Kit, Max, Requires Dual 18650's, 2ml Pod
                      Tank</small
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
      <footer>
        <div class="footer-wrapper">
          <div class="footer-details">
            <div>
              <h3>Vendis Club Online</h3>
              <ul>
                <li>
                  <b>TELEFON</b>
                  <br />
                  <a href="">0720251005</a>
                </li>
                <li>
                  <b>EMAIL</b>
                  <br />
                  <p>frizi20@yahoo.com</p>
                </li>
                <li>
                  <b>PROGRAM DE LUCRU</b>
                  <br />
                  <p>Luni-Vineri 09:00 - 20:00</p>
                </li>
                <li></li>
              </ul>
            </div>
            <div>
              <h3>Comenzi si livrare</h3>
              <ul>
                <li><a href="">Contul meu</a></li>
                <li><a href="">Istoric comenzi</a></li>
                <li><a href="">Comenzi</a></li>
                <li><a href="">Livrari</a></li>
                <li><a href="">Plati</a></li>
              </ul>
            </div>

            <div>
              <h3>Servicii Clienti</h3>
              <ul>
                <li><a href="">Livrare gratuita</a></li>
                <li><a href="">Cumparare produse</a></li>
                <li><a href="">Intrebari frecvente</a></li>
                <li><a href="">Garabtue</a></li>
                <li><a href="">Returnare</a></li>
              </ul>
            </div>

            <div>
              <h3>VendisClub.ro</h3>
              <ul>
                <li><a href="">Termeni si conditii</a></li>
                <li><a href="">GDPR</a></li>
                <li><a href="">Prelucrarea datelor cu caracter personal</a></li>
                <li><a href="">ANPC</a></li>
              </ul>
            </div>
          </div>

          <div class="footer-bottom">
            <div>
              <p>
                Copyright 2020-2021 SmokeClub.ro | Toate drepturile rezervate
              </p>
            </div>
            <div class="firma">
              <p style="text-transform: uppercase;">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi praesentium soluta aliquid saepe minus ut, distinctio nulla reprehenderit harum similique? Officiis saepe optio earum eos! Magnam modi magni vitae amet!
              </p>
            </div>
          </div>
        </div>
      </footer>
    </div>

    <script>
      const burger = document.querySelector(".burger");
      const navBurger = document.querySelector(".nav-burger");
      const body = document.querySelector("body");
      const mainBlurr = document.querySelector(".main-blurr");
      const sideNav = document.querySelector(".nav-links-container");
      const container = document.querySelector(".container");
      const navDetails = document.querySelector(".nav-details");
      const dropBoxes = Array.from(document.querySelectorAll(".drop-box"));
      const searchButton = document.querySelector('.src-btn-2');
      const closeSearchButton = document.querySelector('.close-src-btn');
      const searchActive = document.querySelector('.search-active');
      const secondDropBoxes = Array.from(
        document.querySelectorAll(".drop-box2")
      );

      const navLists = Array.from(document.querySelectorAll(".nav-links>li"));
      console.log(navLists);
      let scroll = true;

      //function

      function moveNav(){
        burger.classList.toggle("burger-active");
            body.classList.toggle("body-active");

            if (window.getComputedStyle(mainBlurr).display === "none") {
              mainBlurr.style.display = "block";
            } else {
              mainBlurr.style.display = "none";
            }

            scroll = !scroll;

            sideNav.style.width = "260px";
            sideNav.style.transition;
            container.classList.toggle("container-active");
            navDetails.classList.toggle("nav-details-active");
      }

      // TOGGLE BURGER ELEENT

      burger.addEventListener("click", (e) => {
          moveNav();
      });

      //Close the sidenav if the page is clicked except the sidenav

      document.addEventListener("click", function (e) {
        if (
          e.target.classList[0] === "main-blurr" ||
          e.target.classList[0] === "logo-name" ||
          e.target.classList[0] === "nav-details"
        ) {
          if (burger.classList[1] === "burger-active") {
            moveNav();
          }
        }
      });

      //Even Listener to deactivate the side nav,burger and all the same effects as when you press the burger to deactivate it

      window.addEventListener("resize", function () {
        // On screen change make the foother wrapper the same width as the content element

        document.querySelector(".footer-wrapper").style.width =
          document.querySelector(".content").getBoundingClientRect().width +
          "px";

        if (window.innerWidth > 990) {
          burger.classList.remove("burger-active");
          mainBlurr.style.display = "none";
          sideNav.style.transition = "width 0.2s";
          sideNav.style.width = "0";
          container.classList.remove("container-active");
          navDetails.classList.remove("nav-details-active");
          container.style.transition = "none";
          body.classList.remove("body-active");
          setTimeout(() => {
            container.style.transition = "transform 0.2s ease-out";
          }, 100);

          // remove the styling from the submenus when side nav removed

          const allSubMenus = [
            ...Array.from(document.querySelectorAll(".sub-menu")),
            ...Array.from(document.querySelectorAll(".sub-menu-2")),
          ];

          allSubMenus.forEach((menu) => {
            menu.classList.remove("sub-menu-active");
          });

          //REMOVE SEARCH-ACTIVE

          searchActive.style.display='none';
        }
      });

      //Eventlisteners for sub-nav catergories

      dropBoxes.forEach((dropBox, index) => {
        dropBox.addEventListener("click", (el) => {
          // Array.from(document.querySelectorAll('.sub-menu')).forEach((subMenu)=>{
          //   subMenu.classList.remove('sub-menu-active')
          // })

          // console.log(dropBoxes[1] === el.target)

          dropBoxes.forEach((dbox, index) => {
            if (dbox === el.target) {
              el.target.parentElement.children[2].classList.toggle(
                "sub-menu-active"
              );
            } else {
              dbox.parentElement.children[2].classList.remove(
                "sub-menu-active"
              );
            }
          });
        });
      });

      //Event Listeners for second sub menus

      secondDropBoxes.forEach((secondDropBox) => {
        secondDropBox.addEventListener("click", (el) => {
          secondDropBoxes.forEach((dbox) => {
            if (dbox === el.target) {
              el.target.parentElement.children[2].classList.toggle(
                "sub-menu-active"
              );
            } else {
              dbox.parentElement.children[2].classList.remove(
                "sub-menu-active"
              );
            }
          });
        });
      });

      // const submenu2= document.querySelector('.submenu2');
      // const subMenu =Array.from(document.querySelectorAll('.sub-menu'));

      // document.querySelector('.sub-menu').firstElementChild.children[0].children[1].style.height=subMenu[0].getBoundingClientRect().height + 'px';

      // document.querySelector('footer-details').style.width = document.querySelector('.content').style.width;

        document.querySelector(".footer-wrapper").style.width =
        document.querySelector(".content").getBoundingClientRect().width + "px";


        //Search button

        searchButton.addEventListener('click',()=>{
          searchActive.style.display='flex';
        })

        closeSearchButton.addEventListener('click',()=>{
          searchActive.style.display='none';
        })
        
    </script>
  </body>
</html>
